.offer__container {
    padding: 30px;
    margin: 0 -30px;
    background-image: url('../img/offer/phones.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1290px;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-resolution: 2dppx) {
    .offer__container {
        background-image: url('../img/offer/retina/phones-2x.jpg');
    }
}

.offer__main-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.offer__title {
    text-align: center;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 24px;
}

.offer__price {
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
}

@media (max-width: 800px) {
    .offer__container {
        background-image: url('../img/offer/retina/phones-800.jpg');
        min-height: 720px;
        background-size: 960px;
    }

    @media (min-resolution: 2dppx) {
        .offer__container {
            background-image: url('../img/offer/retina/phones-800-2x.jpg');
        }
    }

    .offer__main-title {
        font-size: 18px;
    }

    .offer__title {
        font-size: 26px;
    }

    .offer__price {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .offer__container {
        background-image: url('../img/offer/retina/phones-mob.jpg');
        background-size: 400px;
    }

    @media (min-resolution: 2dppx) {
        .offer__container {
            background-image: url('../img/offer/retina/phones-mob-2x.jpg');
        }
    }
}